---
import { fade } from "astro:transitions";
import MainLayout from "../../layouts/MainLayout.astro";
import BlogPostCard from "../../components/content/BlogPostCard.astro";
import ItemBadge from "../../components/badges/ItemBadge.astro";
import coverImg from "../../../src/assets/banner_blog.jpg";

const blogPosts = Object.values(
  import.meta.glob("./*.{md,mdx}", { eager: true })
);
---

<MainLayout
  title="Blog | Kiseki's Atelier"
  coverSrc={coverImg}
  coverPosition="object-bottom"
  transition:animate={fade({ duration: "0.4s" })}
>
  <aside slot="extraContent" class="gap-x-4 gap-y-4 grid grid-cols-2">
    <ItemBadge
      leadingIcon="mdi:archive-search-outline"
      title="Archive"
      content="Browse through articles in a timeline."
      color="pink"
    />
    <ItemBadge
      leadingIcon="mdi:file-search-outline"
      title="Category"
      content="Filter articles by Categories."
      color="amber"
    />
    <ItemBadge
      leadingIcon="mdi:tag-search-outline"
      title="Tags"
      content="Explore all the tags used across the site."
      color="green"
    />
    <ItemBadge
      leadingIcon="mdi:file-find-outline"
      title="Search"
      content="Search articles by keywords."
      color="blue"
    />
  </aside>
  <h1 class="font-extrabold text-4xl">The Life of Kiseki</h1>
  <p class="mb-5">
    Some of my thoughts that invade the vacuum known as 'my head'. All the
    opinions, unless specified, are of my own. Tune in, and discover what I have
    to say~
  </p>
  <ul class="flex flex-col gap-4">
    {
      // @ts-expect-error
      blogPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)).map((post: any) => (
        <li>
          <BlogPostCard
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            ref={`/blog/${post.frontmatter.url}/`}
            imgSrc={post.frontmatter.heroImage}
            wordCount={post.frontmatter.wordCount}
            readTime={post.frontmatter.readTime}
            pubDate={post.frontmatter.pubDate}
          />
        </li>
      ))
    }
  </ul>
</MainLayout>
