---
import { Icon } from "astro-icon/components";

const { icon, label, color } = Astro.props;
const hoverBG: any = {
	blue: "hover:bg-blue-700",
	red: "hover:bg-red-700",
	amber: "hover:bg-amber-700",
	green: "hover:bg-green-700",
	pink: "hover:bg-pink-700",
	purple: "hover:bg-purple-700",
	// …
};
const BG: any = {
	blue: "text-blue-700",
	red: "text-red-700",
	amber: "text-amber-700",
	green: "text-green-700",
	pink: "text-pink-700",
	purple: "text-purple-700",
	// …
};
const lightBG: any = {
	blue: "bg-blue-50",
	red: "bg-red-50",
	amber: "bg-amber-50",
	green: "bg-green-50",
	pink: "bg-pink-50",
	purple: "bg-purple-50",
	// …
};
---

<p
  class=`flex items-center gap-2 ${lightBG[color]} px-2.5 py-1 rounded-md w-fit hover:cursor-pointer transition-colors duration-150 hover:[&>span]:text-white ${hoverBG[color]} hover:[&>svg]:text-white`
  data-tag
>
  <Icon name={icon} class=`font-bold ${BG[color]}` />
  <span class=`font-bold ${BG[color]} text-sm`>
    {label}
  </span>
</p>

<script>
  import { gsap } from "gsap";

  document.addEventListener("astro:page-load", () => {
    const tags = document.querySelectorAll("[data-tag]");
    tags.forEach((tag) => {
      tag.addEventListener("mouseenter", () => {
        gsap.to(tag, {
          scale: 1.15,
          duration: 0.175,
          zIndex: 1,
        });
      });
      tag.addEventListener("mouseleave", () => {
        gsap.to(tag, {
          scale: 1,
          duration: 0.175,
          zIndex: 0,
        });
      });
    });
  });
</script>
