---
/** biome-ignore-all lint/correctness/noUnusedImports: <-> */
/** biome-ignore-all assist/source/organizeImports: <-> */

// @ts-nocheck

import BlogPostCard from "../components/content/BlogPostCard.astro";
import ServiceCard from "../components/content/ServiceCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { fade } from "astro:transitions";

import imgCover from "../../src/assets/Unknown.png";

// Pixel Art Assets
import img_1 from "../assets/artworks__marina_idle.gif";
import img_2 from "../assets/artworks__maya_idle.gif";

// Character Illustrations Assets
import img_3 from "../assets/artworks__marina_2023.png";
import img_4 from "../assets/artworks__marina_2024.png";
import img_5 from "../assets/artworks__sendai_2024.jpeg";

// Frontend Development Assets
import img_6 from "../assets/frontend__ripvisuals.png";
import img_7 from "../assets/frontend__kiseki.png";

// Icons
import MdiEmail from "~icons/mdi/email";
import MdiStars from "~icons/mdi/stars";
import MdiBookMultipleOutline from "~icons/mdi/book-multiple-outline";
import MdiBriefcaseEditOutline from "~icons/mdi/briefcase-edit-outline";
import MdiCubeScan from "~icons/mdi/cube-scan";
import MdiArt from "~icons/mdi/art";
import MdiMessageBubbleOutline from "~icons/mdi/message-bubble-outline";
import LogosHtml5 from "~icons/logos/html-5";
import FluentBook32Filled from "~icons/fluent/book-32-filled";

// biome-ignore lint/correctness/noUnusedVariables: <->
const blogPosts = Object.values(
  import.meta.glob("./blog/*.{md,mdx}", { eager: true })
);
---

<MainLayout
  title="Home | Kiseki's Atelier"
  coverSrc={imgCover}
  transition:animate={fade({ duration: "0.4s" })}
>
  <h1
    class="flex items-center self-center gap-2 bg-clip-text bg-gradient-to-r from-blue-500 to-blue-900 mt-1 font-extrabold text-transparent text-4xl"
  >
    <MdiStars /> Kiseki's Atelier
  </h1>
  <div
    class="flex flex-col items-center gap-4 mt-[-4px] text-bold text-neutral-600 text-center"
  >
    Welcome in, welcome in! This is Kiseki's Atelier~, my personal space in the
    interwebs. Here, I share some of my art and code-related works in a
    centralized place, as well as some of my thoughts. It is a pleasure to have
    you here!
    <div class="flex items-center self-center gap-2">
      <a
        href="/blog"
        class="flex items-center gap-2 bg-blue-500 hover:bg-blue-700 px-4 py-2 border-2 border-blue-500 hover:border-blue-700 rounded-lg w-fit text-white text-sm transition-all duration-150"
      >
        <FluentBook32Filled />
        Explore Blog
      </a>
      <a
        href="/contact"
        class="flex items-center gap-2 hover:bg-neutral-800 px-4 py-2 border-2 border-neutral-800 rounded-lg w-fit text-neutral-800 hover:text-white text-sm transition-all duration-150"
      >
        <MdiEmail />
        Contact Me!
      </a>
    </div>
  </div>
  <hr class="my-2 text-transparent" />
  <h2 class="flex items-center gap-2 font-extrabold text-3xl">
    <MdiBookMultipleOutline class="text-blue-700 text-4xl" />
    Recent Posts
  </h2>
  <p class="mt-[-4px]">
    My yapping corner~ I talk about my personal life, maybe something about
    programming, art or game development. Perhaps gushing over some anime I
    really like. Who knows!
  </p>
  <ul class="flex flex-col gap-4">
    {
      blogPosts.map((post: any) => (
        <li>
          <BlogPostCard
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            ref={`/blog/${post.frontmatter.url}/`}
            imgSrc={post.frontmatter.heroImage}
            wordCount={post.frontmatter.wordCount}
            readTime={post.frontmatter.readTime}
            pubDate={post.frontmatter.pubDate}
          />
        </li>
      ))
    }
  </ul>
  <hr class="my-2 text-transparent" />
  <h2 class="flex items-center gap-2 font-extrabold text-3xl">
    <MdiBriefcaseEditOutline class="text-blue-700 text-4xl" />
    Services
  </h2>
  <p class="mt-[-4px]">
    Would you like to bring your ideas to life? Let's work together and make
    those concepts a reality–is not just a drawing, but a dream come true~
  </p>
  <div class="flex flex-col gap-4">
    <ServiceCard title="Animated Pixel Art" imgArr={[img_1, img_2]}>
      <MdiCubeScan slot="icon" />
      <span>
        Cute little animated sprites~ I try my best to bring out the charm of
        those characters. And <a
          href="/contact"
          class="border-b border-b-blue-600 hover:border-b-transparent text-blue-600 hover:text-blue-500 transition-all duration-200"
          >you can have your own</a
        > as well!
      </span>
    </ServiceCard>
    <ServiceCard
      title="Character Illustrations"
      ref="/about"
      imgArr={[img_3, img_4, img_5]}
    >
      <MdiArt slot="icon" />
      <span
        >Maximizing the amount of pixels in a single piece~! While pixelart
        excels in lower resolutions, I believe larger canvases have a story to
        tell.
      </span>
    </ServiceCard>
    <ServiceCard title="Frontend Web Development" imgArr={[img_6, img_7]}>
      <LogosHtml5 slot="icon" />
      <span>
        Do you have a business that needs online positioning? Need a central hub
        to display your important links? Perhaps need help to implement the
        frontend of your app?
      </span>
    </ServiceCard>
  </div>
  <hr class="my-2 text-transparent" />
  <h2 class="flex items-center gap-2 font-extrabold text-3xl">
    <MdiMessageBubbleOutline class="text-blue-700 text-4xl" />
    Social Media Feed
  </h2>
  <p class="mt-[-4px]">
    You can find more about my works (and sometimes, myself) over at my
    different accounts! I suggest ya to follow me over Twitter/X since I am the
    most active over there~!
  </p>
  <blockquote class="twitter-tweet">
    <p lang="en" dir="ltr">
      Hi hi, <a
        href="https://twitter.com/hashtag/PortfolioDay?src=hash&ref_src=twsrc%5Etfw"
        >#PortfolioDay</a
      >~! Name&#39;s Kiseki. I&#39;m a pixel artist that lovs to draw pretty
      girls. Hope you like my animations, my sprites, and my illustrations.<br
      /><br />Pleased to meet ya~ <a href="https://t.co/aopmwwu2kX"
        >pic.twitter.com/aopmwwu2kX</a
      >
    </p>&mdash; Kiseki 奇跡 (@_kiseki_miracle) <a
      href="https://twitter.com/_kiseki_miracle/status/1910023900450238633?ref_src=twsrc%5Etfw"
      >April 9, 2025</a
    >
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
  ></script>
</MainLayout>
